[package]
name = "nannou"
version ="0.18.0"
authors = ["mitchmindtree <mitchell.nordine@gmail.com>"]
description = "A Creative Coding Framework for Rust."
readme = "README.md"
keywords = ["creative", "sketch", "graphics", "audio"]
license = "MIT"
repository = "https://github.com/nannou-org/nannou.git"
homepage = "https://github.com/nannou-org/nannou"
edition = "2018"

[dependencies]
find_folder = "0.3"
futures = { version = "0.3", features = ["executor", "thread-pool"] }
getrandom = "0.2.3"
image = "0.23"
instant = "0.1.9"
lyon = "0.17"
nannou_core = { version ="0.18.0", path = "../nannou_core", features = ["std", "serde"] }
nannou_mesh = { version ="0.18.0", path = "../nannou_mesh", features = ["serde1"] }
nannou_wgpu = { version ="0.18.0", path = "../nannou_wgpu", features = ["capturer"] }
noise = "0.7"
notosans = { version = "0.1", optional = true }
num_cpus = "1"
pennereq = "0.3"
rusttype = { version = "0.8", features = ["gpu_cache"] }
serde = "1"
serde_derive = "1"
serde_json = "1"
toml = "0.5"
walkdir = "2"
wgpu_upstream = { version = "0.11.1", package = "wgpu" }
winit = "0.26"

[features]
default = ["notosans"]
# Enables SPIR-V support in the `wgpu` module.
spirv = ["nannou_wgpu/spirv"]
# Enables experimental WASM compilation for CI-use only
wasm-experimental = ["winit/web-sys", "getrandom/js"]

